<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../../assets/css/symphony.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../../assets/css/symphony.legacy.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../../assets/css/symphony.grids.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../../assets/css/symphony.frames.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../../assets/css/symphony.forms.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../../assets/css/symphony.tables.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../../assets/css/symphony.drawers.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../../assets/css/symphony.tabs.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../../assets/css/symphony.notices.css">
		<link rel="stylesheet" type="text/css" media="screen" href="../../../../assets/css/admin.css">
		<script type="text/javascript" src="../../../../assets/js/jquery.js"></script>
		<script type="text/javascript" src="../../../../assets/js/symphony.js"></script>
		<script type="text/javascript" src="../../../../assets/js/symphony.collapsible.js"></script>
		<script type="text/javascript" src="../../../../assets/js/symphony.orderable.js"></script>
		<script type="text/javascript" src="../../../../assets/js/symphony.selectable.js"></script>
		<script type="text/javascript" src="../../../../assets/js/symphony.duplicator.js"></script>
		<script type="text/javascript" src="../../../../assets/js/symphony.tags.js"></script>
		<script type="text/javascript" src="../../../../assets/js/symphony.pickable.js"></script>
		<script type="text/javascript" src="../../../../assets/js/symphony.timeago.js"></script>
		<script type="text/javascript" src="../../../../assets/js/symphony.notify.js"></script>
		<script type="text/javascript" src="../../../../assets/js/symphony.drawer.js"></script>
		<script type="text/javascript" src="../../../../assets/js/admin.js"></script>
		<script type="text/javascript">Symphony.Context.add('env', {"page-namespace":"\/blueprints\/pages","0":"template","1":"page-not-found"}); Symphony.Context.add('root', 'http://home/sym/symphony-2');</script>
		<title>page-not-found.xsl &ndash; Pages &ndash; Symphony</title>
	</head>
	<body id="blueprints-pages" class="template page-not-found single">
		<div id="wrapper">
			<header id="header">
				<p class="notice">Your Symphony installation is up to date, but the installer was still detected. For security reasons, it should be removed. <a href="#remove">Remove installer?</a></p>
				<h1>
					<a href="../../../../../">Symphony CMS</a>
				</h1>
				<ul id="session">
					<li>
						<a href="../../../../system/authors/edit/1/" data-id="1" data-name="John" data-type="developer">John Smith</a>
					</li>
					<li>
						<a href="../../../../../" accesskey="l">Log out</a>
					</li>
				</ul>
				<nav id="nav">
					<ul class="content">
						<li>Content
							<ul>
								<li>
									<a href="../../../../publish/articles/">Articles</a>
								</li>
								<li>
									<a href="../../../../publish/categories/">Categories</a>
								</li>
								<li>
									<a href="../../../../publish/notes/">Notes</a>
								</li>
								<li>
									<a href="../../../../publish/comments/">Comments</a>
								</li>
								<li>
									<a href="../../../../publish/messages/">Messages</a>
								</li>
							</ul>
						</li>
					</ul>
					<ul class="structure">
						<li class="active">Blueprints
							<ul>
								<li>
									<a href="../../../../blueprints/pages/">Pages</a>
								</li>
								<li>
									<a href="../../../../blueprints/sections/">Sections</a>
								</li>
								<li>
									<a href="../../../../blueprints/datasources/">Data Sources</a>
								</li>
								<li>
									<a href="../../../../blueprints/events/">Events</a>
								</li>
								<li>
									<a href="../../../../blueprints/utilities/">Utilities</a>
								</li>
							</ul>
						</li>
						<li>System
							<ul>
								<li>
									<a href="../../../../system/authors/">Authors</a>
								</li>
								<li>
									<a href="../../../../system/preferences/">Preferences</a>
								</li>
								<li>
									<a href="../../../../system/extensions/">Extensions</a>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</header>
			<div id="context">
				<div id="breadcrumbs">
					<nav>
						<p>
							<a href="../../../../blueprints/pages/">Pages</a>
							<span class="sep">&#8250;</span>
							<a href="../../../../blueprints/pages/?parent=76">Page Not Found</a>
							<span class="sep">&#8250;</span>
						</p>
					</nav>
					<h2>page-not-found.xsl</h2>
				</div>
				<ul class="actions">
					<li><a href="../../../../blueprints/pages/edit/76/" title="Edit Page Configuration" class="button" accesskey="t">Edit Page</a></li>
				</ul>
			</div>
			<div id="contents">
				<form action="../../../../blueprints/pages/template/page-not-found/" method="post" class="two columns">
					<fieldset class="primary column">
						<label>Body
							<textarea name="fields[body]" rows="30" cols="80" class="code">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;xsl:stylesheet version=&quot;1.0&quot; xmlns:xsl=&quot;http://www.w3.org/1999/XSL/Transform&quot;&gt;

&lt;xsl:import href=&quot;../utilities/page-title.xsl&quot;/&gt;

&lt;xsl:output method=&quot;xml&quot;
	doctype-public=&quot;-//W3C//DTD XHTML 1.0 Strict//EN&quot;
	doctype-system=&quot;http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd&quot;
	omit-xml-declaration=&quot;yes&quot;
	encoding=&quot;UTF-8&quot;
	indent=&quot;yes&quot; /&gt;

&lt;xsl:template match=&quot;/&quot;&gt;
	&lt;html&gt;
		&lt;head&gt;
			&lt;title&gt;
				&lt;xsl:call-template name=&quot;page-title&quot;/&gt;
			&lt;/title&gt;
			&lt;link rel=&quot;icon&quot; type=&quot;images/png&quot; href=&quot;{$workspace}/images/icons/bookmark.png&quot; /&gt;
			&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; media=&quot;screen&quot; href=&quot;{$workspace}/css/maintenance.css&quot; /&gt;
		&lt;/head&gt;
		&lt;body&gt;
			&lt;div id=&quot;package&quot;&gt;
				&lt;h1&gt;404 Error: Page Not Found&lt;/h1&gt;
				&lt;p&gt;Head back to &lt;a href=&quot;{$root}/&quot;&gt;home&lt;/a&gt; or &lt;a href=&quot;{$root}/about/&quot;&gt;contact&lt;/a&gt; me.&lt;/p&gt;
			&lt;/div&gt;
		&lt;/body&gt;
	&lt;/html&gt;
&lt;/xsl:template&gt;

&lt;/xsl:stylesheet&gt;</textarea>
						</label>
					</fieldset>
					<div class="secondary column">
						<p class="label">Utilities</p>
						<div class="frame">
							<ul id="utilities">
								<li>
									<a href="../../../../blueprints/utilities/edit/date-time/">date-time.xsl</a>
								</li>
								<li>
									<a href="../../../../blueprints/utilities/edit/get-archive/">get-archive.xsl</a>
								</li>
								<li>
									<a href="../../../../blueprints/utilities/edit/get-article/">get-article.xsl</a>
								</li>
								<li>
									<a href="../../../../blueprints/utilities/edit/get-comments/">get-comments.xsl</a>
								</li>
								<li>
									<a href="../../../../blueprints/utilities/edit/get-drafts/">get-drafts.xsl</a>
								</li>
								<li>
									<a href="../../../../blueprints/utilities/edit/get-images/">get-images.xsl</a>
								</li>
								<li>
									<a href="../../../../blueprints/utilities/edit/get-notes/">get-notes.xsl</a>
								</li>
								<li>
									<a href="../../../../blueprints/utilities/edit/master/">master.xsl</a>
								</li>
								<li>
									<a href="../../../../blueprints/utilities/edit/navigation/">navigation.xsl</a>
								</li>
								<li>
									<a href="../../../../blueprints/utilities/edit/page-title/">page-title.xsl</a>
								</li>
								<li>
									<a href="../../../../blueprints/utilities/edit/typography/">typography.xsl</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="actions">
						<input name="action[save]" type="submit" value="Save Changes" accesskey="s">
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
